// @package Davenports
//
//Pallete
//
//Davenports Red: #e81f27
//sass --watch sass:css
//
//================================================
// Mixins
//================================================
@mixin animate ($attr, $time) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}
@mixin transform ($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}
//=========================================
// Global
//=========================================

body {
  font-family: "helvetica", Arial, sans-serif;
}
.parallaxPlate{
  background-color: #fff;
}

//==========================================
//Navbar
//==========================================
nav#navbarSite {
    background-image: linear-gradient(15deg, #e81f27 0%, #F44850 100%);
    min-height: 95px;
    box-shadow: -1px 0px 15px 5px #222;
}
div#myToggleNav{
  margin-left: 20px;
}

.navbar-text{
  color: #fff;
  font-size: 15px;
  font-style: italic;
  width: 230px;
}

a.nav-link{
    font-size: 20px;
    color: #fff;
    &:hover{color: #000; @include animate(color, 500ms);
    }
}

//hamburger animation
.nav-icon {
  margin: 1em;
  width: 40px;
}
.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  @include animate (all, 400ms);
}
.x.nav-icon:before {
  background-color: #000;
  @include transform(translateY(12px) rotate(135deg));
}

.x.nav-icon:after {
  background-color: #000;
  @include transform(translateY(-12px) rotate(-135deg));
}

.x.nav-icon div {
  @include transform(scale(0));
}

//============================================
//Carousel animation
//============================================

div#featured {
    margin-top: 95px;
}
#featured.carousel.carousel-fade .carousel-item {
    display: block;
    position: fixed;
    opacity: 0;
    transition: opacity ease-out .7s;
    z-index: -1;
    margin-top: 95px;
}

#featured.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}



//============================================
//Welcome
//============================================

.welcomeMessage{
  padding-top: 50px;
  background-color: #fff;
  z-index: 120;
h2{
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}}

//============================================
//Beer Section
//============================================
#beerSection{
  padding-top: 100px;
}

a.btn{
  background-color: #e81f27;
  color: #fff;
}

//============================================
//featured Bars
//============================================
#featuredbars.carousel.slide .carousel-item{
  z-index: 4;
}


//============================================
//Footer
//============================================
footer{
  background-color: #333;
  padding-bottom: 10px;
  padding-top: 30px;
  p{
    color: #fff;
    text-align: center;

  }
}

//============================================
//Responsive
//============================================

@media only screen and (max-width: 410px) {
  .navbar-brand img{
    width: 190px;
  }
  .nav-icon {
    margin: 1em 0.1em;
    width: 40px;
  }
}
